* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
[class*="col-"] {
    width: 100%;
@media only screen and (min-width: 600px)

 .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}



.row::after {
    content: "";
    clear: both;
    display: block;
}
body {
    background-color: lightblue;
}

h1 {
    color: red;
    text-align: center;
}

h2 { 
color: white;
}
p {
    font-family: verdana;
    font-size: 25;
    color: cyan;
}
html {
background: #505D6E url("http://images.akamai.steamusercontent.com/ugc/528386713450475264/56E49FD2A7F1E89D4DFF0E56B5891EC144A48738/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C1024:1024&composite-to%3D*%2C*%7C1024%3A1024&background-color=black") no-repeat center center fixed;
min-height: 100%;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;  
}

body {
    background: transparent;
}

table {
    background: transparent;
}
